.containerTasks{
    display: flex;
    min-width: 40vw;
    height: 18vh;
    margin-top: 20px;
    border-bottom: 1px solid black;
    justify-content: space-between;
    
}

.containerTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}

i{
    cursor: pointer;
    transition: .3s; 
}

i:hover{
    color:#61dafb;
    font-size: 1.2em;
}

.message{
    margin-top: 20px;
}


